.section-menu {
  width: 90%;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 45px;

  &__heading {
    font-weight: normal;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  hr {
    width: 40px;
    height: 3px;
    background-color: $color-tertiary;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.article-plat {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 68px;
  margin-top: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 10px 2px #ebebeb;
  overflow: hidden;
  background-color: $color-tertiary;
  transform-origin: left;

  &:hover {
    cursor: pointer;
    & .article-plat__check {
      width: 75px;
      transition: width 300ms ease-out;
      animation: spinner 300ms ease-out;
    }
  }

  &__content {
    position: relative;
    width: 100%;
    height: 68px;
    background-color: white;
    border-radius: 15px 0 0 15px;

    &__heading {
      position: absolute;
      top: 11px;
      left: 10px;
    }

    &__accomp {
      position: absolute;
      top: 37px;
      left: 10px;
      font-size: 1.5rem;
      text-overflow: ellipsis;
    }

    &__price {
      position: absolute;
      bottom: 12px;
      right: 15px;
      font-size: 1.5rem;
    }
  }

  &__check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 68px;

    & i {
      font-size: 2rem;
      color: white;
    }
  }

  &:nth-child(2) {
    opacity: 0;
    animation: fadein 0.8s forwards;
    transform: translateY(-7px);
  }

  &:nth-child(3) {
    opacity: 0;
    animation: fadein 0.8s 0.2s forwards;
    transform: translateY(-7px);
  }

  &:nth-child(4) {
    opacity: 0;
    animation: fadein 0.8s 0.4s forwards;
    transform: translateY(-7px);
  }

  &:nth-child(5) {
    opacity: 0;
    animation: fadein 0.8s 0.6s forwards;
    transform: translateY(-7px);
  }
}
