footer {
  height: 197px;
  background-color: darken($back-color, 75.5%);
  color: white;

  a {
    color: white;
  }

  p {
    display: inline-block;
  }

  .footer {
    &__content {
      padding-top: 16px;
      padding-left: 25px;
    }

    &__heading {
      font-family: $font-log-and-tit;
      font-size: 1.8rem;
    }

    &__ul {
      margin-top: 20px;
      font-size: 1.6rem;
    }

    &__li {
      margin-bottom: 8px;
    }
  }
}
