header {
  width: 100%;
  height: 60px;
  padding: 15px;
  text-align: center;

  .header__heading {
    width: 48%;
    margin-top: 3px;
    /*font-family: $font-log_and_tit;
    font-size: 3rem;*/
  }
}
