header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 64px;
  padding: 15px;
  text-align: center;
  background-color: white;
}

.header {
  &__heading {
    width: 48%;
    margin-top: 5px;
    /*font-family: $font-log_and_tit;
      font-size: 3rem;*/
  }

  &__return {
    position: absolute;
    top: 24px;
    left: 24px;
  }
}
