header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 64px;
  padding: 15px;
  text-align: center;
  background-color: white;
}

.header {
  &__content {
    position: relative;
    width: 95%;
    max-width: 1440px;
    margin: auto;
  }

  &__heading {
    width: 165px;
    margin-top: 5px;
  }

  &__return {
    position: absolute;
    font-size: 2rem;
    color: black;
    top: 9px;
    left: -1px;
  }
}
