.btn {
  position: relative;
  z-index: 1;
  background: $btn-gradient;
  color: white;
  padding: 15px 20px;
  font-size: 1.6rem;
  border-radius: 30px;
  box-shadow: 0 3px 6px 2px #cbcbcb;
  opacity: 100%;

    &--order {
    padding-left: 50px;
    padding-right: 50px;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $btn-gradient-ligth;
    opacity: 0;
    z-index: -1;
    border-radius: 30px;
    box-shadow: 0 2px 0px 1px #cbcbcb;
    transition: opacity 450ms;
  }
}
