.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  max-width: map-get($breakpoints, desktop-lg);
  margin: 45px auto 45px auto;

  @include large {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &--fonctionnement {
    flex-direction: column;
    align-items: flex-end;

    @include desktop {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
    }
  }

  &--menu {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    align-items: flex-start;
  }

  &--fade-anim {
    & section:nth-child(1) {
      opacity: 0;
      animation: fadein 200ms forwards;
    }

    & section:nth-child(2) {
      opacity: 0;
      animation: fadein 300ms 200ms forwards;
    }

    & section:nth-child(3) {
      opacity: 0;
      animation: fadein 400ms 300ms forwards;
    }
  }

  &--btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 72px;
  }
}
