.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  max-width: map-get($breakpoints, desktop-lg);
  margin: 45px auto 45px auto;

  @include large {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &--fonctionnement {
    flex-direction: column;
    align-items: flex-end;

    @include desktop {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
    }
  }

  &--menu {
    width: 100%;
  }

  &--btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
    margin-bottom: 0;
    padding-bottom: 72px;
  }
}
