.section--localisation {
  height: 50px;
  background-color: #eaeaea;
  padding: 15px;
}

.localisation {
  width: 47%;
  font-weight: bold;
  font-size: 1.6rem;
  margin: auto;

  &__ico {
    padding-right: 5px;
  }
}
