.section--offer {
  height: 287px;
  background-color: #f6f6f6;
}

.offer {
  height: 214px;
  margin: auto;
  text-align: center;

  &__heading {
    width: 70%;
    margin: auto;
  }
  &__discover {
    font-weight: lighter;
    font-size: 1.8rem;
    color: grey;
    margin-top: 10px;
    margin-bottom: 45px;
  }
}
