.section--fonctionnement {
  height: 430px;
}

.heading {
  width: 100%;
}

.operation {
  position: relative;
  width: 95%;
  height: 74px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0 5px 10px 2px #ebebeb;

  &--mauve {
    background-color: #f5edff;
  }

  &__num {
    position: absolute;
    top: 24px;
    left: -8px;
    width: 24px;
    height: 24px;
    background-color: $color-primary;
    color: white;
    border-radius: 12px;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 5px;
  }

  &__ico {
    position: absolute;
    top: 27px;
    left: 40px;

    &--variation {
      color: $color-primary;
    }
  }

  &__name {
    position: absolute;
    top: 28px;
    left: 80px;
    font-weight: bold;
    font-size: 1.6rem;
  }
}
