@keyframes scale-max-min-max {
  0% {
    color: rgba($color: $back-color, $alpha: 1);
    transform: scale(1);
  }
  25% {
    transform: scale(0.5);
    color: rgba($color: $back-color, $alpha: 0.8);
  }
  50% {
    transform: scale(1);
    color: rgba($color: $back-color, $alpha: 0.7);
  }
  100% {
    color: rgba($color: $back-color, $alpha: 0);
    -webkit-text-stroke: unset;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(+10px);
  }
  15% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}
