@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(+10px);
  }
  15% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anim-opa {
  from {
    opacity: 0.5;
  }
  30% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.6;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes off-loading {
  from {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    width: 100vw;
    height: 100vh;
  }
  to {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
