@mixin color-like-hover {
  color: rgba($color: $back-color, $alpha: 1);
  background: linear-gradient(0deg, $color-secondary, 60%, $color-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px black; /*rendre le coeur avec les bords fins. marche sur firefox*/
  transition: color 50ms ease-in-out;

  &:active {
    color: rgba($color: $back-color, $alpha: 0);
    -webkit-text-stroke: unset;
  }
}
